host('localhost.localdomain') do
  ip: '127.0.0.1',
  host_aliases: ['localhost','localhost4','localhost4.localdomain4']
end

host('oradb.example.com')  { ip: '10.10.10.20', host_aliases: ['oradb'] }
host('wls1.example.com')   { ip: '10.10.10.30', host_aliases: ['wls1'] }
host('wls2.example.com')   { ip: '10.10.10.31', host_aliases: ['wls2'] }
host('soa1.example.com')   { ip: '10.10.10.40', host_aliases: ['soa1'] }
host('soa2.example.com')   { ip: '10.10.10.41', host_aliases: ['soa2'] }
host('orawls.example.com') { ip: '10.10.10.60', host_aliases: ['orawls'] }

profile::base::hosts::list = {
  host('localhost.localdomain').to_resource('host'),
  host('oradb.example.com').to_resource('host'),
  host('wls1.example.com').to_resource('host'),
  host('wls2.example.com').to_resource('host'),
  host('soa1.example.com').to_resource('host'),
  host('soa2.example.com').to_resource('host'),
  host('orawls.example.com').to_resource('host'),
}

