software/
.vagrant
.tmp
.librarian
modules/concat/
modules/connect/
modules/easy_type/
modules/filemapper/
modules/jdk7/
modules/limits/
modules/ora_config/
modules/ora_install/
modules/sleep/
modules/stdlib/
modules/swap_file/
modules/sysctl/
modules/wls_config/
modules/wls_install/
modules/yamlfile/
modules/timezone
domain_soa.jar
.bundle
wls-acceptance.box
