
# include 'features/oracle11EE'  Uncomment this line when you want to use Oracle 11.
include 'features/oracle12EE' # Uncomment this line when you want to use Oracle 12.

name   = 'demo'
dbname = name.upcase 

profile::ora::dbname = dbname
profile::ora::home = "${profile::ora::base}/${name}"

profile::ora::demodb::tablespaces::tablespace_name = "${name}_ts"
profile::ora::demodb::schemas::schema_name = name

profile::ora::patches::patch_resources  = 
  ora_patch('/opt/oracle/demo:22738582') {
    source      => '/vagrant/software/p22738582_121020_Linux-x86-64.zip',
    sub_patches => ['22674709','22291127'],
  }


