domain_name = 'soa'

with profile::wls::software:: do
  fmw_infra            = true
  filename             = 'fmw_12.2.1.0.0_infrastructure.jar'
end

with profile::wls::fmw_software:: do
  version  = 1221
  filename = 'V78169-01.zip'
end

domain_adminserver_address        = wls_server('soa1').listenaddress
profile::wls::server::domain_name = domain_name

with profile::wls::soa::domain:: do
  domain_name  = domain_name
  cluster_name = 'soaCluster'
  servers = {
    wls_server('soa1'),
    wls_server('soa2'),
  }
  admin_server_arguments  = [
    '-XX:PermSize=64m',
    '-Xms768m',
    '-Xmx768m',
  ]
  repository_database_url = 'jdbc:oracle:thin:@//oradb.example.com:1521/demo.example.com'
  rcu_database_url        = 'oradb.example.com:1521:demo.example.com'
  repository_prefix       = 'SOA'
  repository_password     = 'welcome01'
  repository_sys_password = 'welcome01'
end


wls_server('soa1') do
  machine_name:  'soa_machine_1',
  listenaddress: host('soa1.example.com').ip,
  listen_port:     7005,
  ssl_listen_port: 7006,
end

wls_server('soa2') do
  machine_name:  'soa_machine_2',
  listenaddress: host('soa2.example.com').ip,
  listen_port:     7007,
  ssl_listen_port: 7008,
end
