with profile::wls::software:: do
  fmw_infra            = true
  middleware_home_dir  = defaults::wls::middleware_home_dir
  oracle_base_home_dir = defaults::wls::oracle_base_home_dir
  filename             = 'fmw_12.1.3.0.0_infrastructure.jar'
end

with profile::wls::fmw_software:: do
  version  = 1213
  filename = 'V44420-01_fmw_12.1.3.0.0_soa.zip'
end

