
name   = 'demo'
dbname = name.upcase 

with profile::ora::software:: do
  oracle_home = "/opt/oracle/${name}"
  oracle_base = defaults::ora::base
end


with profile::ora::demodb::database:: do
  dbname          = dbname
  oracle_home     = "/opt/oracle/${name}"
  oracle_base     = defaults::ora::base
  system_password = defaults::ora::system_password
  sys_password    = defaults::ora::sys_password
end

with profile::ora::demodb::tablespaces:: do
  tablespace_name = "${name}_ts"
  dbname          = dbname
end

with profile::ora::demodb::schemas:: do
  schema_name = name
  dbname      = dbname
end

with profile::ora::patches:: do
  dbname           =  dbname
  oracle_home      = "/opt/oracle/${name}"
  patch_resources  = {
    ora_patch("/opt/oracle/${name}:22738582"),
  }
end

