#
# The are the new defaults for the ora modules. New versions of the ora_install and ora_config
# modules will use these hiera lookups. 
#
with defaults::ora:: do
  dbname          = 'default'
  base            = '/opt/oracle'
  home            = "/opt/oracle/${defaults::ora::dbname}"
  os_user         = 'oracle'
  os_group        = 'oinstall'
  download_dir    = '/data/install'
  system_password = 'welcome01'
  sys_password    = 'welcome01'
end


#
# To make the transition from the open source modules to the supported modules as easy as possible, for now we connect the hiera keys
# of the open source module to the new keys. In the future these values will discarded and replaces by their full defaults::ora::... 
# counterparts
#
oracle_home = defaults::ora::home
oracle_base = defaults::ora::base
