#
# The are the new defaults for the wls modules. New versions of the wls_install and wls_config
# modules will use these hiera lookups. 
#
with defaults::wls:: do
  nodemanager_address           = 'localhost'
  nodemanager_port              = 5556
  adminserver_addres            = 'localhost'
  adminserver_port              = 7001
  os_user                       = 'oracle'
  os_group                      = 'dba'
  weblogic_user                 = 'weblogic'
  domain_password               = 'weblogic'
  oracle_base_home_dir          = '/opt/oracle'
  home_dir                      = "${defaults::wls::oracle_base_home_dir}/middleware12/wlserver"
  middleware_home_dir           = "${defaults::wls::oracle_base_home_dir}/middleware12"
  domains_dir                   = "${defaults::wls::oracle_base_home_dir}/domains"
  jdk_home_dir                  = '/usr/java/jdk1.8.0_74'
  version                       = 1213       # 1036|1111|1211|1212|1213
  apps_dir                      = "${defaults::wls::oracle_base_home_dir}/applications"
  domain_template               = 'standard' # adf|osb|osb_soa_bpm|osb_soa|soa|soa_bpm|wc|wc_wcc_bpm|oud
  domain_name                   = 'standard'
  domain_adminserver            = 'AdminServer'
  domain_adminserver_address    = 'localhost'
  domain_adminserver_port       = 7001
  domain_java_arguments         = {}
  domain_nodemanager_port       = 5556
  domain_password               = 'welcome01'
  jsse_enabled                  = false
  download_dir                  = '/data/install'
  log_dir                       = '/data/logs'
  repository_database_url       = 'jdbc:oracle:thin:@localhost:1521:XE'
  repository_prefix             = 'DEV'
  repository_password           = 'welcome01'
  custom_trust                  = false
  trust_keystore_file           = nil
  trust_keystore_passphrase     = nil
  create_rcu                    = true
  trust_keystore_file           = '/vagrant/trust.kst'
  trust_keystore_passphrase     = 'passphrase'
end


#
# To make the transition from the open source modules to the supported modules as easy as possible, for now we connect the hiera keys
# of the open source module to the new keys. In the future these values will discarded and replaces by their full defaults::wls::... 
# counterparts
#
wls_weblogic_home_dir          = defaults::wls::home_dir
wls_domains_dir                = defaults::wls::domains_dir
wls_middleware_home_dir        = defaults::wls::middleware_home_dir
wls_oracle_base_home_dir       = defaults::wls::oracle_base_home_dir
wls_jdk_home_dir               = defaults::wls::jdk_home_dir
domain_wls_password            = defaults::wls::domain_password
wls_version                    = defaults::wls::version
wls_apps_dir                   = defaults::wls::app_dir
domain_template                = defaults::wls::domain_template
domain_name                    = defaults::wls::domain_name
domain_adminserver             = defaults::wls::domain_adminserver
domain_adminserver_address     = defaults::wls::domain_adminserver_address
domain_adminserver_port        = defaults::wls::domain_adminserver_port
domain_java_arguments          = defaults::wls::domain_java_arguments
domain_nodemanager_port        = defaults::wls::domain_nodemanager_port
wls_weblogic_user              = defaults::wls::weblogic_user
domain_wls_password            = defaults::wls::domain_password
wls_jsse_enabled               = defaults::wls::jsse_enabled
wls_os_user                    = defaults::wls::os_user
wls_os_group                   = defaults::wls::os_group
wls_download_dir               = defaults::wls::download_dir
wls_log_dir                    = defaults::wls::log_dir
repository_database_url        = defaults::wls::repository_database_url
repository_prefix              = defaults::wls::repository_prefix
repository_password            = defaults::wls::repository_password
wls_custom_trust               = defaults::wls::custom_trust
wls_trust_keystore_file        = defaults::wls::trust_keystore_file
wls_trust_keystore_passphrase  = defaults::wls::trust_keystore_passphrase
create_rcu                     = defaults::wls::create_rcu
