#
# These are all the default values. Adjusted here when you want different defaults. Override these
# settings in other files to make changes for just one node or instance
#

wls_oracle_base_home_dir       = '/opt/oracle'
wls_weblogic_home_dir          = "${wls_oracle_base_home_dir}/middleware12/wlserver"
wls_domains_dir                = "${wls_oracle_base_home_dir}/domains"
wls_middleware_home_dir        = "${wls_oracle_base_home_dir}/middleware12"
wls_jdk_home_dir               = '/usr/java/jdk1.8.0_74'
wls_apps_dir                   = "${wls_oracle_base_home_dir}/applications"
wls_version                    = 1221       # 1036|1111|1211|1212|1213
domain_template                = 'standard' # adf|osb|osb_soa_bpm|osb_soa|soa|soa_bpm|wc|wc_wcc_bpm|oud
domain_name                    = 'standard'
domain_adminserver             = 'AdminServer'
domain_adminserver_address     = "%{::fqdn}"
domain_adminserver_port        = 7001
domain_java_arguments          = {}
domain_nodemanager_port        = 5556
domain_nodemanager_address     = "%{::fqdn}"
wls_weblogic_user              = 'weblogic'
domain_wls_password            = 'welcome01'
wls_jsse_enabled               = false
wls_os_user                    = 'oracle'
wls_os_group                   = 'dba'
wls_download_dir               = '/data/install'
wls_log_dir                    = '/data/logs'
repository_database_url        = "jdbc:oracle:thin:@%{::fqdn}:1521:XE"
repository_prefix              = 'DEV'
repository_password            = 'welcome01'
wls_custom_trust               = false
wls_trust_keystore_file        = ''
wls_trust_keystore_passphrase  = ''
create_rcu                     = true

