#
# This system run's in depzone 1
#
include 'depzones/depzone_1'
#
# This is a single node database with a demo database
#
role = 'role::ora::asmdb'

# include 'features/oracle11EE'  Uncomment this line when you want to use Oracle 11.
include 'features/oracle12EE' # Uncomment this line when you want to use Oracle 12.
include 'features/grid12'     # Uncomment this line when you want to use Grid 12.


oracle_base = '/app/oracle'
oracle_home = '/app/oracle/product/12.1/asmdb'

with profile::ora::software:: do
  oracle_base     = oracle_base
  oracle_home     = oracle_home
end

with profile::ora::asmdb::database:: do
  dbname          = 'ASMDB'
  dbdomain        = 'ASMDOMAIN'
  oracle_base     = oracle_base
  oracle_home     = oracle_home
  system_password = 'Welcome01'
  sys_password    = 'Welcome01'
end

with profile::grid::software:: do
  grid_base   = '/app/grid'
  grid_home   = '/app/grid/product/12.1/grid'
end

