#
# This system run's in depzone 1
#
include 'depzones/depzone_1'
#
# This is a single node database with a demo database
#
role = 'role::ora::demodb'

include 'features/oracle11EE' # Use Oracle 11
# include 'features/oracle12EE' # Uncomment this line when you want to use Oracle 12. (Not yet implemented)

