#
# This system run's in depzone 1
#
include 'depzones/depzone_1'
#
# This is a single node wls only system and a Oracle database combined
#
role         = 'role::orawls' # A node that runs both WebLogic and a Oracle database

# include 'features/oracle11EE'  Uncomment this line when you want to use Oracle 11.
include 'features/oracle12EE' # Uncomment this line when you want to use Oracle 12.


with defaults::wls:: do
  os_group                      = 'oinstall'
end


cluster_name = 'wlsCluster'
domain_name  = 'wlsonly' 

wls_server('orawls') do
  machine_name:    'wls_machine_1',
  listenaddress:   host('orawls.example.com').ip,
  listen_port:     7005,
  ssl_listen_port: 7006,
end

wls_server('wls2') do
  machine_name:    'wls_machine_2',
  listenaddress:   host('wls2.example.com').ip,
  listen_port:     7007,
  ssl_listen_port: 7008,
end


with profile::wls::wlsonly::domain:: do
  domain_name  = domain_name  # Connect this variable to the global domain name
  cluster_name = cluster_name  # Connect this variable to the global domain name

  servers = {
    wls_server('orawls'),
    wls_server('wls2'),
  }
end

with profile::wls::wlsonly::jms:: do
  domain_name  = domain_name  # Connect this variable to the global domain name
  cluster_name = cluster_name  # Connect this variable to the global domain name

  servers = {
    wls_server('orawls'),
    wls_server('wls2'),
  }

end
