#
# This system run's in depzone 1
#
include 'depzones/depzone_1'
#
# This is a single node wls only system and a Oracle database combined
#
role         = 'role::orawls' # A node that runs both WebLogic and a Oracle database

include 'features/demodb'
include 'features/weblogic_12_2_1'
include 'features/java_8u74'

with profile::wls::wlsonly::domain:: do
  domain_name  = 'wlsonly'
  cluster_name = 'wlsCluster'
  servers = {
    wls_server('orawls'),
  }
  admin_server_arguments  = [
    '-XX:PermSize=64m',
    '-Xms768m',
    '-Xmx768m',
  ]
end

domain_adminserver_address     = wls_server('orawls').listenaddress
profile::wls::server::domain_name =  profile::wls::wlsonly::domain::domain_name

with profile::wls::wlsonly::jms:: do
  domain_name  = profile::wls::wlsonly::domain::domain_name
  cluster_name = profile::wls::wlsonly::domain::cluster_name
  servers      = profile::wls::wlsonly::domain::servers
end

wls_server('orawls') do
  machine_name:    'wls_machine_1',
  listenaddress:   host('orawls.example.com').ip,
  listen_port:     7005,
  ssl_listen_port: 7006,
end

with profile::wls::wlsonly::datasources::ds0:: do
  host      = 'a_host'
  database  = 'a_database'
  username  = 'a_username'
  password  = 'a_password'
end
