#
# This system run's in depzone 1
#
include 'depzones/depzone_1'
include 'features/soa_settings'
#
# This is a single node wls only system
#
role = 'role::wls::soa_master'

wls_server('soa1') do
  machine_name:  'soa_machine_1',
  listenaddress: host('soa1.example.com').ip,
end
wls_server('soa2') do
  machine_name:  'soa_machine_2',
  listenaddress: host('soa2.example.com').ip,
end


with profile::wls::soa::domain:: do
  domain_name = 'soa'

  servers = {
    wls_server('soa1'),
    wls_server('soa2'),
  }
end

