#
# This system run's in depzone 1
#
include 'depzones/depzone_1'
#
# This is a single node wls only system
#
role = 'role::wls::wlsonly_master'

wls_server('wls1') do
  machine_name:  'wls_machine_1',
  listenaddress: host('wls1.example.com').ip,
end

wls_server('wls2') do
  machine_name:  'wls_machine_2',
  listenaddress: host('wls2.example.com').ip,
end



with profile::wls::wlsonly::domain:: do
  domain_name = 'wlsonly'

  servers = {
    wls_server('wls1'),
    wls_server('wls2'),
  }

end
