#
# This system run's in depzone 1
#
include 'depzones/depzone_1'
#
# This is a second node in a WLS cluster. You can use this role for any
# wls node in your WebLogic cluster
#
role = 'role::wls::server'

include 'features/weblogic_12_2_1'
include 'features/java_8u74'
include 'features/wlsonly_settings'
