with profile::wls::wlsonly::domain:: do
  domain_name            = 'wlsonly'
  nodemanager_address    = 'wls1.example.com'
  nodemanager_port       = 5556
  adminserver_address    = 'wls1.example.com'
  adminserver_port       = 7001
  domains_dir            = defaults::wls::domains_dir
  apps_dir               = defaults::wls::apps_dir
  os_user                = defaults::wls::os_user
  weblogic_user          = defaults::wls::weblogic_user
  weblogic_password      = defaults::wls::domain_password
  weblogic_home_dir      = defaults::wls::home_dir
  version                = 1213
  admin_server_arguments  = [
    '-XX:PermSize=64m',
    '-XX:MaxPermSize=512m',
    '-Xms768m',
    '-Xmx768m',
  ]
end

with profile::wls::software:: do
  fmw_infra            = false
  middleware_home_dir  = defaults::wls::middleware_home_dir
  oracle_base_home_dir = defaults::wls::oracle_base_home_dir
  filename             = 'fmw_12.1.3.0.0_wls.jar'
end
