#version = 1213
version = 1221

with profile::wls::wlsonly::domain:: do
  domain_name            = 'wlsonly'
  nodemanager_address    = 'wls1.example.com'
  nodemanager_port       = 5556
  adminserver_address    = 'wls1.example.com'
  adminserver_port       = 7001
  domains_dir            = defaults::wls::domains_dir
  apps_dir               = defaults::wls::apps_dir
  os_user                = defaults::wls::os_user
  weblogic_user          = defaults::wls::weblogic_user
  weblogic_password      = defaults::wls::domain_password
  weblogic_home_dir      = defaults::wls::home_dir
  version                = version
  admin_server_arguments  = [
    '-XX:PermSize=64m',
    '-Xms768m',
    '-Xmx768m',
  ]
end

with profile::wls::wlsonly::datasources::ds0:: do
  host      = 'a_host'
  database  = 'a_database'
  username  = 'a_username'
  password  = 'a_password'
end


with profile::wls::software:: do
  fmw_infra            = false
  version              = version
  middleware_home_dir  = defaults::wls::middleware_home_dir
  oracle_base_home_dir = defaults::wls::oracle_base_home_dir
  filename             = 'fmw_12.2.1.0.0_wls.jar'
end
