with profile::wls::soa::domain:: do
  domain_name             = 'domain'
  nodemanager_address     = 'soa1.example.com'
  nodemanager_port        = 5556
  adminserver_address     = 'soa1.example.com'
  adminserver_port        = 7001
  domains_dir             = defaults::wls::domains_dir
  apps_dir                = defaults::wls::apps_dir
  os_user                 = defaults::wls::os_user
  weblogic_user           = defaults::wls::weblogic_user
  weblogic_password       = defaults::wls::domain_password
  weblogic_home_dir       = defaults::wls::home_dir
  version                 = 1213
  admin_server_arguments  = [
    '-XX:PermSize=64m',
    '-XX:MaxPermSize=512m',
    '-Xms768m',
    '-Xmx768m',
  ]
  repository_database_url = 'jdbc:oracle:thin:@//oradb.example.com:1521/demo.example.com'
  rcu_database_url        = 'oradb.example.com:1521:demo.example.com'
  repository_prefix       = 'SOA'
  repository_password     = 'welcome01'
  repository_sys_password = 'welcome01'
end
#
# Connect all values from profile::wls::soa::domain:: to profile::wls::server
#
with profile::wls::server:: do
  domain_name             = profile::wls::soa::domain::domain_name
  nodemanager_address     = profile::wls::soa::domain::nodemanager_address
  nodemanager_port        = profile::wls::soa::domain::nodemanager_port
  adminserver_address     = profile::wls::soa::domain::adminserver_address
  adminserver_port        = profile::wls::soa::domain::adminserver_port
  domains_dir             = profile::wls::soa::domain::domains_dir
  apps_dir                = profile::wls::soa::domain::apps_dir
  os_user                 = profile::wls::soa::domain::os_user
  weblogic_user           = profile::wls::soa::domain::weblogic_user
  weblogic_password       = profile::wls::soa::domain::weblogic_password
  weblogic_home_dir       = profile::wls::soa::domain::weblogic_home_dir
  version                 = profile::wls::soa::domain::version
  admin_server_arguments  = profile::wls::soa::domain::admin_server_arguments
end

